# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor folders
.vscode/
.idea/

# Logs
*.log

# Environment files
.env
.env.*

# Dependencies / build output
node_modules/
dist/
build/

# Temporary files
*.tmp
*.temp
